/* Import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Source+Code+Pro:ital,wght@1,200;1,300&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

/* This is the title */
h1 {
    font-size: 75px;
    text-decoration:underline;
}
/*These are the Journal Titles*/
h2 {
    color:rgb(252, 252, 252);
    font-size: 300%;
}

/*These are the time of the day */
h3{
    color: rgb(18, 65, 71);
    background-color:rgb(207, 165, 185);
    font-size:2em;
    padding: 3mm 2mm 3mm 2mm;
    text-align: center;

    border-color:white;
    border-style:dotted;
    border-width: 1mm;
}

footer {
    background-color: rgb(207, 165, 185);
    padding: 4mm 4mm 4mm 10mm;
    margin: 2mm 2mm 2mm 2mm;
}

p{
    color: hsl(0, 0%, 100%);
    font-size: 2vw;

    border-style:dashed;
    border-color:rebeccapurple;
    background-color: rosybrown;

    border-width: 0mm;
    border-radius: 0mm;

    margin-top: 10mm;
    margin-bottom: 10mm;
    margin-left: 10mm;
    margin-right: 10mm;

    padding-top: 10mm;
    padding-left: 10mm;
    padding-right: 10mm;
    padding-bottom: 10mm;
}


ul, li {
    color: white;
    background-color:rosybrown;

    padding: 3mm 3mm 3mm 3mm;
    margin: 1mm 0mm 0mm 0mm;

    

}

text {
    color: white;
    text-decoration: slategray;
    text-align: left;
}

.table_of_contents {
    display: none;
}

.topOfPage{
    background-color: rgb(207, 165, 185);
    position: fixed;
    padding: 2mm 2mm 2mm 2mm;
    margin: -10mm 0mm 0mm 0mm;
    color: white;
}

.pancakes img{
    position: absolute;
    right: 0mm;
}

.pancakes p {
    position: absolute;
    right: 10mm;
    width: 10rem;
}

.books {
    display: flex;
    flex: auto auto auto;
}

.flowers {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 3mm 3mm 3mm 3mm;
}

footer h2 {
    display:none;
}

footer h3:hover {
    color: white;
}

footer h3:active{
    color:rgb(32, 26, 56);
}

#thoughts {
    font-family: 'Source Code Pro', monospace;
}

p[title] {
    background-color:seashell;
    color:slategrey;
    font-weight: bold;
}

div > p {
    background-color:teal;
}

div + p {
    background-color:turquoise;
}

div ~ p {
    background-color:wheat;
    color:rgb(14, 41, 41);
    font-weight: bold;
}


@media screen and (max-width: 1000px) {
    body {
        background:rgb(207, 165, 185);
    }
}